@page
@using Todo.Models.Dtos
@using Todo.Models.Models
@model Todo.Models.Models.Notes

@{
    Layout = "_User";
    var list = ViewBag.ListNote as List<NoteDto>;

}

<div class="d-flex flex-row w-75 justify-content-between">
    <div>
        <form asp-action="Index" asp-controller="Todolist" style="width: 20vw">
                <div class="d-flex flex-row mt-3">
                    <input type="date" class="form-control outline-none shadow-none" name="day"/>
                    <button type="submit" class="btn btn-primary" style="width: 4rem">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
    </div>
    
    <div>
        <form asp-action="Index" asp-controller="Todolist">
                <div class="d-flex flex-row mt-3">
                    <input type="text" placeholder="Trạng thái" class="form-control outline-none shadow-none" name="status"/>
                    <button type="submit" class="btn btn-primary" style="width: 4rem">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
    </div>
    
</div>

    <div class="d-flex " style="max-height: 77vh; overflow-y: auto">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No.</th>
                <th>Todo item</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @if (list != null)
            {
                foreach (var note in list)
                {
                    <tr>
                        <td>@note.Id</td>
                        <td>@note.Name</td>
                        <td>@note.CreateOn</td>
                        <td>@note.DeleteOn</td>
                        @if (note.Status == 0)
                        {
                            <td>Đang thực hiện</td>
                        }
                        else if (note.Status == 1)
                        {
                            <td>Hoàn thành</td>
                        }
                        else if (note.Status == 2)
                        {
                            <td>Sắp hết hạn</td>
                        }
                        else if (note.Status == 3)
                        {
                            <td>Hết hạn</td>
                        }
                        <td class="d-flex justify-content-between">
                            
                            <button class="btn btn-success finish" data-Id="@note.Id">Finish</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <th>No.</th>
                <th>Todo item</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Actions</th>
            }
            </tbody>
        </table>
    </div>



<script src="/js/Todo.js"></script>